
.contact{
    margin-top: 100px;
    height: 100vh;
   flex-basis: 50%;
   max-width: 50%;
}
.contact-form{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact{
padding: 30px;
}
.second-input{
    margin-top: 30px;
}